@model Repules.Models.CreateApplicationUserViewModel

@{
    ViewData["Title"] = "Új felhasználó létrehozása";
}
<div class="container mt-5 p-3">
    <form class="text-center border border-light p-5" autocomplete="off" asp-action="Create">
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
            <div class="text-center">
                <p class="h4 mb-4 text-light">Új felhasználó hozzáadása</p>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row justify-content-center">
                <div class="col-md-6">
                    <div class="md-form md-bg form-group mt-5">
                        <input asp-for="Name" class="form-control" type="text">
                        <label asp-for="Name"><i class="fas fa-user"></i> Felhasználó név</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-6">
                    <div class="md-form md-bg form-group mt-5">
                        <input asp-for="Email" class="form-control" type="email">
                        <label asp-for="Email"><i class="fas fa-envelope"></i> E-mail</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-6">
                    <div class="md-form md-bg form-group mt-5">
                        <input asp-for="Password" class="form-control" type="password">
                        <label asp-for="Password"><i class="fas fa-lock"></i> Jelszó</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="isAdm" asp-for="IsAdmin">
                        <label class="custom-control-label text-muted font-weight-bold" for="isAdm" asp-for="IsAdmin">Is Admin?</label>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-6 mt-2">
                    <button class="btn btn-info btn-block" type="submit">Létrehoz</button>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-6 mt-2">
                    <a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-circle-left fa-lg"></i> Vissza a felhasználókhoz</a>
                </div>
            </div>
</form>
</div>

