@{
    ViewData["Title"] = "Rólunk";
}

    <div class="panel panel-info">
        <div class="panel-heading">Rólunk</div>
        <div class="panel-body">
                <h2>@ViewData["Title"]</h2>

                <p>AZ EN-CO SOFTWARE KFT 2008-BAN ALAKULT, MÁRA EGY 120 FŐS EGYEDI SZOFTVERFEJLESZTÉSSEL FOGLALKOZÓ CÉGGÉ NŐTTE KI MAGÁT. HISZÜNK ABBAN, HOGY SIKERÜNK KULCSA A MINŐSÉGI SZOLGÁLTATÁS, AMIT ÜGYFELEINK SZÁMÁRA NYÚJTUNK.</p>
        </div>
    </div>
