@{
    ViewData["Title"] = "Kapcsolat";
}

    <div class="panel panel-info">
        <div class="panel-heading">Kapcsolat</div>
        <div class="panel-body">
            <h2>@ViewData["Title"]</h2>

            <address>
                En-Co Software Kft.<br />
                Budapest, Bocskai út 77-79, 1113<br />
                <abbr title="Telefon">Tel:</abbr>
                +3620-389-4437
            </address>

            <address>
                <strong>Support:</strong> <a href="mailto:somlo.panna@encosoft.hu">somlo.panna@encosoft.hu</a><br />
            </address>
        </div>
    </div>