@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="panel panel-info">
        <div class="panel-heading">Biztonság</div>
        <div class="panel-body">
            <h2>@ViewData["Title"]</h2>

            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
