@model Repules.Models.AirportViewModel

@{
    ViewData["Title"] = "Repülőtér hozzáadás";
}
<div class="container mt-5 p-3">
    <form class="text-center border border-light p-5" autocomplete="off" asp-action="Create">
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <div class="text-center">
            <p class="h4 mb-4 text-light">Új repülőtér hozzáadása</p>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row justify-content-center">
            <div class="col-md-6">
                <div class="md-form md-bg form-group mt-5">
                    <input asp-for="Name" class="form-control">
                    <label asp-for="Name"><i class="fas fa-plane-arrival"></i> Repülőtér neve</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-6">
                <div class="md-form md-bg form-group mt-5">
                    <input asp-for="Longitude" class="form-control">
                    <label asp-for="Longitude"><i class="fas fa-arrows-alt-v"></i> Hosszúsági koordináta</label>
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-6">
                <div class="md-form md-bg form-group mt-5">
                    
                    <input asp-for="Latitude" class="form-control">
                    <label asp-for="Latitude"><i class="fas fa-arrows-alt-h"></i> Szélességi koordináta</label>
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-6 mt-2">
                <button class="btn btn-info btn-block" type="submit">Létrehoz</button>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-6 mt-2">
                <a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-circle-left fa-lg"></i> Vissza a repülőterekhez</a>
            </div>
        </div>
    </form>
</div>
