<div class="container">
    <div class="card card-cascade narrower mt-5 p-3">
        <h4>Repülőterek importálása</h4>
        <form method="post" enctype="multipart/form-data" asp-controller="Airport" asp-action="Upload">

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLangHTML" name="files">
                <label class="custom-file-label" for="customFileLangHTML" data-browse="Kiválaszt">
                    Excel dokumentum
                </label>
            </div>
            <div class="text-center">
                <button class="btn btn-outline-success btn-rounded btn-sm m-2 mx-auto" type="submit">
                    <i class="fas fa-upload"></i>
                    Feltölt
                </button>
            </div>
</form>
    </div>
</div>
